// **************************************
// variables
// **************************************

// Colors
$white: #fcfcfc;

$main-light: #806fe6;
$main-med: #7657df;
$main-dark: #56497e;

$font: #292929;

$secondary: #68c27c;
$tertiary: #569c9e;
$grey: #adadad;



// Breakpoints Map
$breakpoints: (
  'sm': 320px,
  'md': 768px,
  'lg': 1024px,
);


// Fonts
$font-stack-primary: 'Helvetica Neue', 'Helvetica', sans-serif;
