// **************************************
// grid
// **************************************

header {
  grid-area: head;
  @include flex-me($dir:row, $just:space-between);
}
nav {
  grid-area: navi;
}


h2 {
  grid-area: dashboard;
}
.search {
  grid-area: search;
}
.traffic {
  grid-area: traffic;
}
.daily-traffic {
  grid-area: daily;
}
.mobile-users {
  grid-area: users;
}
.social-stats {
  grid-area: stats;
}
.new-members {
  grid-area: members;
}
.recent-activity {
  grid-area: activity;
}
.message-user {
  grid-area: message;
}
.settings {
  grid-area: settings;
}

.main-container {
  position: relative;
  height: 100vh;
  display: grid;
  grid-template-rows: 80px 100px auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "head"
    "navi"
    "main";
  @include mq('md') {
    grid-template-rows: 100px auto;
    grid-template-columns: 100px 2fr 2fr;
    grid-template-areas:
      "head head head"
      "navi main main";
  }
}

main {
  margin: 10px;
  grid-area: main;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-template-areas:
    "dashboard"
    "search"
    "traffic"
    "daily"
    "users"
    "stats"
    "members"
    "activity"
    "message"
    "settings";
  @include mq('md') {
    grid-template-rows: auto;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 5px;
    grid-template-areas:
      "dashboard  search search search search search"
      "traffic traffic traffic traffic traffic traffic"
      "daily daily daily users users users"
      "stats stats stats stats stats stats"
      "members members members activity activity activity"
      "message message message settings settings settings";
  }

}
