// **************************************
// icons
// **************************************

img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

header img {
  width: 40px;
  height: 40px;
}

.img-main-user {
  margin-right: 5px;
    @include mq('md') {
      margin: 0;
      margin-right: 10px;
    }
}

.alert-img {
  width: 30px;
  height: 30px;
  margin: auto;
  @include mq('md') {
    margin-right: 15px;
  }
}

nav img {
  border-radius: 0px;
  margin: 20px;
  width: 40px;
  height: 40px;
}

.nav-icon {
  fill: $grey;
  &:hover{
    fill: $white;
    border: 1px solid green;
  }
}

.svg-nav {
  margin-bottom: 40px;
}

svg {
  height: 40px;
}

.icon-bg {
  background-color: $main-med;
  border-radius: 50px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.social-icon {
  fill: $white;

}

.social-svg {
  width: 35px;
}

.arrow-right {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    transform: rotate(45deg);
}
