// **************************************
// .main-div flex boxes
// **************************************

.time-toggle {
  margin-top: 20px;
  @include mq('md') {
    @include flex-me($dir:row, $just:space-around);
    > h3 {
      margin: auto;
      margin-left: 0px;
    }
    .switch-toggle {
      margin-right: 10px;
    }
  }
}

.media {
  @include mq('md') {
    @include flex-me($dir:row, $just:space-around);
  }
}

.media-card {
  align-items: center;
  color: $main-med;
  background-color: rgba(173, 173, 173, 0.15);
  border: 1px solid $grey;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 15px;
  // padding-top: 15px;
  // padding-bottom: 15px;
  @include flex-me($dir:row, $just:space-around);
  @include mq('lg') {
    width: 30%;
  }
}

.media-info {
  text-align: center;
  > h2 {
    margin: 0 auto;
  }
  > p {
    margin: 0 auto;
  }
}

.member-card,
.activity-card {
  align-items: center;
  margin: 0 auto;
  margin-top: 10px;
  @include mq('md') {
    @include flex-me($dir:row, $just:flex-start);
    font-size: 12px;
    padding-bottom: 15px;
    img {
      margin: 0;
      margin-right: 10px;
    }
    p {
      margin-right: 10px;
    }
  }
  @include mq('lg') {
    font-size: 16px;
  }
}

.member-info,
.member-action {
  @include mq('md') {
    margin-right: auto;
  }
}

.activity-card {
  margin-left: 10px;
}

.member-action {
  > p {
    margin: 0 auto;
    margin-top: 10px;
  }
}

.message-flex {
  @include flex-me($dir:column, $just:space-around);
}

.settings-choose {
  @include flex-me($dir:column, $just:space-around);
}


.switch-light {
  @include flex-me($dir:row, $just:space-around);
}


.save-cancel {
  @include flex-me($dir:row, $just:space-around);
}
