// **************************************
// base styles
// **************************************

* {
  box-sizing: border-box;
}
body {
  font-family: $font-stack-primary;
  color: $font;
}

header {
  background-color: $main-light;
  color: $white;
}
nav {
  background-color: $main-dark;
}

main {
  background-color: $white;
}

main div {
  border: 1px solid #000000;
}

h3 {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

a {
  color: $main-light;
  text-decoration: none;
}



canvas {
  max-height: 350px;
  max-width: 100%;
}
