// **************************************
// base styles
// **************************************

* {
  box-sizing: border-box;
}
body {
  font-family: $font-stack-primary;
  color: $font;

}

header {
  background-color: $main-light;
  color: $white;
  > h3 {
    font-size: 16px;
    margin: auto;
    width: 100px;
    @include mq('md') {
      margin: 0;
      margin-top: 40px;
      width: 200px;
    }
  }
}

hr {
  height: 50px;
  margin: auto;
  @include mq('md') {
    margin: 0;
    margin-top: 20px;
    margin-right: 15px;
  }
}

nav {
  background-color: $main-dark;
}

main {
  background-color: $white;
}


h1 {
  font-size: 1.8em;
  margin: auto;
  margin-left: 30px;
  margin-right: 30px;
  > span {
    font-size: .5em;
    position: absolute;
  }
}

h2 {
  @include mq('md') {
    padding-right: 20px;
  }
}

.media-card h2 {
  padding-right: 0px;
}

h3 {
  text-transform: uppercase;
}

ul {
  list-style-type: none;
}

a {
  color: $main-light;
  text-decoration: none;
}

canvas {
  max-height: 350px;
  max-width: 100%;
}

.member-card,
.activity-card {
  margin-top: 10px;
  border-bottom: 1px solid $grey;
  &:last-child {
    border-bottom: none;
  }
}



.member-info h4 {
  margin-top: 10px;
}

.mobile-users h3,
.recent-activity h3,
.settings h3 {
  margin-left: 10px;
}

.arrow {
  display: none;
  @include mq('md') {
    display: block;
  }
}

.user-search,
.search-text,
.time-zone {
  background-color: rgba(173, 173, 173, 0.15);
  border: 1px solid #adadad;
  border-radius: 3px;
  color: #adadad;
  margin: auto;
  margin-bottom: 15px;
  min-width: 90%;
  max-width: 90%;
  padding: 10px 0 10px 10px;
}

.settings-choose {
  margin: 0 auto;
  min-width: 90%;
  max-width: 90%;
}

.send-email {
  margin-bottom: 20px;
  padding-top: 5px;
}

.set-public {
  margin-bottom: 15px;
  padding-top: 10px;
  @include mq('lg') {
    margin-bottom: 35px;
  }
}

.time-zone {
  margin-bottom: 20px;
}

.switch-toggle {
  @include mq('md'){
    width: 300px;
  }
}

.switch-toggle.switch-candy,
.switch-light.switch-candy > span {
  background-color: white;
  box-shadow: none;
}

.switch-light.switch-candy span span,
.switch-light.switch-candy input:checked ~ span span:first-child,
.switch-toggle.switch-candy label {
  color: black;
  text-shadow: 1px 1px 1px white;
}

.switch-candy a {
  border-radius: 10px;
}

.switch-material.switch-light input:checked ~ span {
  background: $main-med;
  height: 30px;
  width: 60px;
}

.switch-material.switch-light > span {
  background: $main-med;
  height: 30px;
  width: 60px;
}

.switch-light.switch-material a {
  background: $white;
  height: 20px;
  width: 20px;
  margin-top: 5px;
}


.switch-material.switch-light input:checked ~ span a {
  background: $white;
  height: 20px;
  width: 20px;
  margin-top: 5px;
}
