// **************************************
// base styles
// **************************************

* {
  box-sizing: border-box;
}

header {
  background-color: #3398cc;
}
nav {
  background-color: #309e35;
}

main {
  background-color: #ffffff;
}

main div {
  border: 1px solid #000000;
}

body {
  overflow-y: scroll;
}

canvas {
  max-height: 350px;
  max-width: 1000px;
}
